<div
  id="inicio"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/Gasolinera.jpeg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/img/Cisterna.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container px-4 py-5" id="opciones">
  <h2 class="pb-2 border-bottom">Opciones</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div>
        <h2>Registrarse en la app</h2>
        <p>Regístrese en nuestra aplicación de manera fácil, en dos sencillos
          pasos</p>
        <a href="/registrar-cliente" class="btn btn-primary">
          <i class="bi bi-pencil-square"></i>
          Registrarse
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h2>Registrar Vehículo</h2>
        <p>Luego de registrarse, registre su vehiculo para solicitar turno para
          abastecerlo de combustible.</p>
        <a href="/registrar-cliente" class="btn btn-primary">
          <i class="bi bi-car-front-fill"></i>
          Registrar Vehículo
        </a>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h2>Pedir turno</h2>
        <p>Luego de registrarse, solicite un turno para poder abastecer su
          vehiculo con combustible</p>
        <a href="/registrar-cliente" class="btn btn-primary"><i
            class="bi bi-ticket-detailed-fill"
          ></i>
          Pedir turno
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top" id="nosotros">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2024</small>
    </div>
    <div class="col-6 col-md">
      <h5>Desarrolladores</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">Lizandra Melissa Quesada Leyva <a
            class="text-decoration-none"
            href="#"
          >lizandramql@gmail.com</a></li>
        <li class="mb-1">Naomys Cisnero Péres <a
            class="text-decoration-none"
            href="#"
          >naomyscp@gmail.com</a></li>
        <li class="mb-1">Oldanyer García <a
            class="text-decoration-none"
            href="#"
          >odlanierg@gmail.com</a></li>
        <li class="mb-1">Adriel De León <a
            class="text-decoration-none"
            href="#"
          >adrielleon@gmail.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Ubicación</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a
            class="link-secondary text-decoration-none"
            href="#"
          >La Lisa, carretera de San Antonio km 0</a></li>
        <li class="mb-1">Sitio Web: <a
            class="text-decoration-none"
            href="#"
          >uci.cu</a></li>
      </ul>
    </div>
  </div>
</footer>