<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h3>Registrar Cliente</h3>
      </div>
      <div class="card-body text-center">
        <form action="/registrar-cliente" method="post">
          <img
            class="mb-4"
            src="/img/usuario-perfil-cupet.png"
            alt=""
            height="100"
            width="100"
          />
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
              />
              <label for="nombre">Nombre</label>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                name="apellidos"
                placeholder="Apellidos"
              />
              <label for="floatingInput">Apellidos</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                id="floatingInput"
                name="CI"
                placeholder="Carnet de Identidad"
              />
              <label for="floatingInput">Carnet de Identidad</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                name="direccion"
                placeholder="Dirección"
              />
              <label for="floatingInput">Dirección</label>
            </div>
            <div class="form-floating">
              <input
                type="email"
                class="form-control is-invalid"
                id="floatingInput"
                name="email"
                placeholder="Correo Electrónico"
              />
              <label for="floatingInput">Correo Electrónico</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control is-invalid"
                id="floatingInput"
                name="telefono"
                placeholder="Teléfono"
              />
              <label for="floatingInput">Teléfono</label>
            </div>
          </div>
          <button
            class="w-100 btn btn-lg btn-success mt-3"
            type="submit"
          >Siguiente</button>

        </form>
      </div>
    </div>
  </div>
</div>