<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h3 class="cupet">Registrar Vehículo</h3>
      </div>
      <div class="card-body text-center">
        <form action="/registrar-vehiculo" method="post">
          <img
            class="mb-4"
            src="/img/vehiculo-cupet.png"
            alt=""
            height="100"
            width="100"
          />
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="modelo"
                name="modelo"
                placeholder="Modelo"
              />
              <label for="modelo">Modelo</label>
            </div>
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="categoria" name="categoria">
                    <option selected></option>
                    <option value="Automovil">Automovil</option>
                    <option value="Motocicleta">Motocicleta</option>
                    <option value="Camión">Camión</option>
                    <option value="Omnibus">Omnibus</option>
                  </select>
                  <label for="categoria">Categoría</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="propiedad" name="propiedad">
                    <option selected></option>
                    <option value="Estatal">Estatal</option>
                    <option value="Particular">Particular</option>
                  </select>
                  <label for="propiedad">Propiedad</label>
                </div>
              </div>
            </div>
            <div class="form-floating">
              <select class="form-select" id="tipo" name="tipo">
                <option selected></option>
                <option value="Diesel Regular">Diesel Regular</option>
                <option value="Gasolina B94">Gasolina B94</option>
                <option value="Gasolina B90">Gasolina B90</option>
                <option value="Gasolina B83">Gasolina B83</option>
              </select>
              <label for="tipo">Tipo de Combustible</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="matrícula"
                name="matricula"
                placeholder="Matrícula"
              />
              <label for="matricula">Matrícula</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="capacidad"
                name="capacidad"
                placeholder="Capacidad"
              />
              <label for="capacidad">Capacidad de Combustible</label>
            </div>
          </div>
          <button
            class="w-100 btn btn-lg btn-success mt-3"
            type="submit"
          >Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>