<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header text-center">
        <h3>Registrar Dependiente</h3>
      </div>
      <div class="card-body text-center">
        <form id="formulario-cliente" action="/registrar-dependiente" method="post">
          <img
            class="mb-4"
            src="/img/usuario-perfil-cupet.png"
            alt=""
            height="100"
            width="100"
          />
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
              />
              <label for="nombre">Nombre</label>
              <p id="mensaje-nombre"><span id="infoNombre"></span></p>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="apellidos"
                name="apellidos"
                placeholder="Apellidos"
              />
              <label for="apellidos">Apellidos</label>
              <p id="mensaje-apellidos"><span id="infoApellidos"></span></p>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="carnet"
                name="CI"
                placeholder="Carnet de Identidad"
              />
              <label for="carnet">Carnet de Identidad</label>
              <p id="mensaje-CI"><span id="infoCI"></span></p>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="direccion"
                name="direccion"
                placeholder="Dirección"
              />
              <label for="direccion">Dirección</label>
              <p id="mensaje-direccion"><span id="infoDireccion"></span></p>
            </div>
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo Electrónico"
              />
              <label for="email">Correo Electrónico</label>
              <p id="mensaje-email"><span id="infoEmail"></span></p>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="telefono"
                name="telefono"
                placeholder="Teléfono"
              />
              <label for="telefono">Teléfono</label>
              <p id="mensaje-telefono"><span id="infoTelefono"></span></p>
            </div>
          </div>
          <button
            class="w-100 btn btn-lg btn-success mt-3"
            type="submit"
          >Siguiente</button>
        </form>
      </div>
    </div>
  </div>
</div>