<nav class="d-none d-md-block bg-light sidebar">
  <div class="pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-speedometer2"></i>
          Panel de Control
        </a>
      </li>
      {{#if admin}}
        <li class="nav-item">
          <a class="nav-link" href="/recepcionar-combustible">
            <i class="bi bi-plus-circle-fill"></i>
            Recibir Combustible
          </a>
          <a class="nav-link" href="/registrar-dependiente">
            <i class="bi bi-plus-circle-fill"></i>
            Agregar Empleado
          </a>
          <hr class="dropdown-divider" />
            <a class="nav-link" href="/editar-usuario">
              <i class="bi bi-person-gear"></i>
              Editar Perfil
            </a>
          <hr class="dropdown-divider" />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-usuarios">
            <i class="bi bi-person-lines-fill"></i>
            Listar Usuarios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-vehiculos">
            <i class="bi bi-car-front-fill"></i>
            Listar Vehículos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-combustibles">
            <i class="bi bi-fuel-pump"></i>
            Listar Combustibles
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-ventas">
            <i class="bi bi-currency-dollar"></i>
            Listar Ventas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-recepciones">
            <i class="bi bi-receipt"></i>
            Listar Recepciones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-trazas">
            <i class="bi bi-clipboard2-pulse-fill"></i>
            Listar Trazas
          </a>
        </li>
        <hr class="dropdown-divider" />
        <li class="nav-item">
          <a class="nav-link" href="/estadisticas">
            <i class="bi bi-activity"></i>
            Actividad de la Página
          </a>
        </li>
      {{/if}}

      {{#if dependiente}}
        <!-- Contenido para Dependientes -->
        <li class="nav-item">
          <a class="nav-link" href="/listar-usuarios">
            <i class="bi bi-person-lines-fill"></i>
            Buscar Usuario
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listar-vehiculos">
            <i class="bi bi-car-front-fill"></i>
            Vehículos
          </a>
        </li>
      {{/if}}

      {{#if cliente}}
        <!-- Contenido para Clientes -->
        <li class="nav-item">
          <a class="nav-link" href="/registrar-vehiculo">
            <i class="bi bi-car-front-fill"></i>
            Registrar Vehículo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pedir-ticket">
            <i class="bi bi-ticket-detailed-fill"></i>
            Pedir Turno
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editar-usuario">
            <i class="bi bi-person-gear"></i>
            Editar Perfil de Usuario
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>